.app {
    color: #555555;
    /*almost black for text color*/
    font-family: Georgia, Serif;
    font-size: 16px;
    line-height: 25px;
}

.page {
    flex-grow: 1;
}

.content {
    margin-bottom: 40px;
}

.box {
    padding: 0 30px;
    background-color: white;
}

.centered {
    text-align: center;
}


h1 {
    text-shadow: 1px 1px forestgreen;
}


h2 {
    font-size: 25px
}

h3 {
    display: inline;
    font-size: 20px;
    border-bottom: 1px solid transparent;
}

.nav {
    min-width: 230px;
}

.nav>li {
    padding: 10px 15px;
    border-radius: 5px;
    color: #ff9e80;
    /*pink*/
    cursor: pointer;
    position: relative;
    left: 0;
    transition: left 0.5s;
}

.nav>li:hover,
.nav>li:focus {
    text-decoration: none;
    background-color: #f2f2f2;
    /*light gray*/
    color: #ff9e80;
    /*pink*/
}

.nav-pills>li.active,
.nav-pills>li.active:focus,
.nav-pills>li.active:hover {
    color: white;
    background-color: #ffc8a2;
    /*light pink*/
}

.glyphicon {
    margin-right: 6px;
}

.label {
    font-size: 16px;
}

.label-pink {
    background-color: #ffb2b2;
    /*cold pink*/
}

.alert-custom {
    background-color: #f2f2f2;
    /*light gray*/
    color: #ff9e80;
    /*pink*/
    border-color: #e3e3e3;
    /*darker gray*/
}

.parallax {

    height: 300px;
}

.mobile-image {
    width: calc(100% + 60px);
    position: relative;
    left: -30px;
    margin-bottom: 20px
}

a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

.lime-green {
    color: #9fb925;
    /*lime green*/
}

a>.lime-green:hover,
a>.lime-green:focus {
    border-bottom: 1px solid #9fb925;
    /*lime green*/
}


.pink {
    color: #ff9e80;
    /*pink*/
}

a>.pink:hover,
a>.pink:focus {
    border-bottom: 1px solid #ff9e80;
    /*pink*/
}

.divider {
    max-width: 150px;
    background-color: #9fb925;
    /*lime green*/
    height: 1px;
    border: 0;
}

.divider-left {
    max-width: 70%;
    margin-left: 0;
}

.fade {
    opacity: 0.5;
    color: #ff9e80
    /*pink*/
}


@media (min-width: 800px) {
    .app {
        display: flex;
    }

    .nav {
        padding-left: 20px
    }
    .mobile-image {
        display: none;
    }
    .nav>li:hover,
    .nav>li:focus {
        left: 20px;
    }
}

@media (max-width: 800px) {
    .nav {
        width: 100%
    }
    .parallax {
        display: none;
    }
    .box {
        padding: 10px 0 0 0;
    }

    .mobile-side-margin {
        margin: 0 20px
    }
}