.app {
    font-family: Georgia, Serif;
    font-size: 16px;
    line-height: 25px;
}


.centered {
    text-align: center;
}

.box {
    padding: 0 30px;
    background-color: white;
}

.nav {
    min-width: 200px;
}

li {
    padding: 10px 15px;
    border-radius: 5px;
    color: #ff8080;
    /*pink*/
    cursor: pointer;
    position: relative;
    left: 0;
    transition: left 0.5s;
}

.nav>li:hover,
.nav>li:focus {
    text-decoration: none;
    background-color: #f2f2f2;
    /*light gray*/
    color: #ff8080;
    left: 20px;
}

.nav-pills>li.active,
.nav-pills>li.active:focus,
.nav-pills>li.active:hover {
    color: white;
    background-color: #ffb3b3;
    /*light pink*/
}

.label-pink {
    background-color: #ffb3b3;
}

.alert-custom {
    background-color: #f2f2f2;
    /*light gray*/
    color: #ff8080;
    border-color: #e3e3e3;
}

.parallax {
    background: url('images/drawing.jpg') fixed;
    background-size: 90%;
    background-position: top right;
    background-repeat: no-repeat;
    height: 300px;
}


.page {
    flex-grow: 1;
}

.content {

    margin-bottom: 40px;
}


.lime-green {
    color: #9fb925/*lime green*/
}

.pink {
    color: #ff8080
}

.divider {
    max-width: 150px;
    background-color: #9fb925;
    height: 1px;
    border: 0;
}

@media (min-width: 600px) {
    .app {
        display: flex;
    }
    .parallax {
        height: 200px;
    }

    .nav {
        padding-left: 20px
    }
}

@media (max-width: 600px) {
    .nav {
        width: 100%
    }
    .parallax {
        background-size: 100%;
        background-position: top;
        width: calc(100% + 60px);
        position: relative;
        left: -30px;
    }
    .box {
        padding: 10px 0 0 0;
    }
}