.centered{
    text-align: center;
}

.box{
	padding:30px;
    background-color: white;
}

a {
    color: #ff8080;/*pink*/
    cursor:pointer;
    position: relative;
    left: 0;
    transition:left 0.5s;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color:#f2f2f2;/*light gray*/
  color:#ff8080;
  left:20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    dcolor:white;
    background-color: #ffb3b3;/*light pink*/
}

.label-custom {
    background-color: #ffb3b3;
}

.alert-custom {
    background-color:#f2f2f2;/*light gray*/
    color:#ff8080;
    border-color: #e3e3e3;
}

.page{
    left:250px;
    top:80px;
    position:absolute;
    width:calc(100% -400px);
    width: -moz-calc(100% - 400px);
    width: -webkit-calc(100% - 400px);
    min-width:650px;
    padding:20px;
}